@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Wendy+One&display=swap');







/* -----------------------------------------------------
--------------------------Global------------------------
----------------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none !important;
}


*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a,
button,
input,
textarea {
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

body {
  color: #232323;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

body * {
  background-attachment: scroll;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 25px;
  position: relative;
}

.flex-wrap {
  display: flex;
}

.col {
  flex-direction: column;
}

.wrap {
  display: flex;
  justify-content: center;
}

.invert {
  filter: invert(100%);
}

.rotate {
  transform: rotate(180deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}









/* -----------------------------------------------------
----------------------Site Navigation-------------------
----------------------------------------------------- */
.allPages {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5d5c61;
}

.allPages-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.allPages-title {
  font-size: 40px;
  margin-bottom: 45px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  color: #8ee4af;
}

.allPages-title:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 65px;
  height: 7.5px;
  background: #8ee4af;
}

.allPages li {
  margin-bottom: 15px;
  display: block;
  text-align: flex-start;
}

.allPages li:before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #8ee4af;
  margin-right: 10px;
  margin-bottom: 4px;
}

.allPages li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  transition: .2s;
}

.allPages li a:hover {
  color: #8ee4af;
}







/* -----------------------------------------------------
------------------------Template------------------------
----------------------------------------------------- */
.btn {
  background: #5cdb95;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
  max-width: 100%;
  width: 100%;
  font-style: normal;
  font-weight: 100 !important;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: center;
  position: relative;
}

.btn:hover {
  background: #60cc90;
}

.simple-input {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-bottom: 10px;
}

input,
textarea {
  border: 1px solid #ccc;
  background-color: none;
  width: 100%;
  padding: 15px 15px;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #24292e;
  font-family: Montserrat;
  border-radius:20px;
  position: relative;
  background: #fff;
}

textarea.error,
input.error {
  border-color: #e7717d;
  color: #e7717d !important;
}

textarea.error::placeholder,
input.error::placeholder {
  color: #e7717d !important;
  opacity: 1 !important;
}

textarea {
  resize: none;
  height: 120px;
  line-height: 1.3;
}

textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}

textarea:focus,
input:focus {
  border-color: none;
}

textarea::placeholder,
input::placeholder {
  opacity: .7;
  transition: .2s;
}

.disabled-text{
  padding-right: 12px !important;
  padding-top: 45px !important;
}

.disabled-text::placeholder{
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 600;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}













/* -----------------------------------------------------
--------------------------Start-------------------------
----------------------------------------------------- */



.main-title{
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
}

.main-form{
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border:1px solid #ccc;
  border-radius: 20px;
  background: rgba(0,0,0,.03);
}

.main-form .btn{
  margin-top: auto;
}

.main-form:last-child{
  margin-left: 20px;
}

.list-of-mails{
  margin-bottom: 15px;
}

.mails-list-title{
  font-size: 18px;
  margin-bottom: 13px;
  text-align: center;
}

.mail-elem{
  margin-bottom: 7px;
  font-size: 16px;
  color:#888;
  font-weight: 300;
  text-align: center;
}